@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    box-shadow: 0 0.1rem 0.5rem #4d3426;
    width: 100%;
    background:var(--white);
    transition: all 0.5s;
    background-color:#4d3426;
}
.navegacao .logo{
    width: 60px;
}
.navegacao ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.navegacao ul li a{
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navegacao ul li a:hover{
    color: var(--pink);
}
.navegacao i {
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 7px;
    background: rgb(0, 0, 0);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: rgb(0, 0, 0);
}
.user1{
    width: 30px;
}

.nav-menu{
    /* position: fixed; */
    /* right: -100%;
    top: 70px;
    width: 100%;
    height: 100%; */
    background: var(--white);
    gap: -10px;
    transition: 0.3s;
    margin-left: 600px;
}

.nav-menu.ativo{
    z-index: 999;
    right: 0;
}

.nav-git{
    margin-right: 5px;
    font-size: 23px;
}